<div ng-controller="SearchController">
    <table>
        <tr>
            <div>
                <div class="h3">Ideas</div>
                <div class="list-item list-item--square" ng-if="vm.ideas.length > 0" ng-repeat="i in vm.ideas | filter:{ status:'!deleted' } | orderBy: '-updated_at' | limitTo: vm.ideaDisplayLimit"
                    ng-click="vm.selectIdea(i)">
                    <div class="list-item__detail list-item__noimage">
                        <nn-comment class="comment list-item__comment" limit="120" name="{{$root.users[i.submitter].display_name}}" date="{{i.updated_at}}"
                            avatar-url="{{$root.users[i.submitter].avatar}}" comment="{{i.content}}">
                        </nn-comment>
                    </div>
                </div>
                <a href="#" ng-click="vm.showMoreIdeas()">Show More</a>
                <div ng-if="vm.ideas.length === 0">No Ideas found.</div>
            </div>

           
        </tr>
        <tr>
            <div>
                <div class="h3">Projects</div>
                <div class="list-item list-item--square" style="cursor: pointer;" ng-if="vm.projects.length > 0" ng-repeat="o in vm.projects | filter:{ status:'!deleted' } | orderBy: '-updated_at' | limitTo: vm.projectDisplayLimit"
                    ng-click="vm.updateProjectId(o.id)">
                    <div class="list-item__detail list-item__noimage">
                        <nn-comment class="comment list-item__comment" limit="120" name="{{o.name}}" date="{{i.updated_at}}" avatar-url="{{$root.users[o.submitter].avatar}}"
                            comment="{{o.description}}">
                        </nn-comment>
                    </div>
                </div>
                <a href="#" ng-click="vm.showMoreProjects()">Show More</a>

            </div>
            <div ng-if="vm.projects.length === 0">No Projects found.</div>
           

        </tr>

        <tr>
            <div>
                <div class="h3">Sites</div>
                <div class="list-item list-item--square" style="cursor: pointer;" ng-if="vm.sites.length > 0" ng-repeat="o in vm.sites | filter:{ status:'!deleted' } | orderBy: '-updated_at' | limitTo: vm.siteDisplayLimit"
                    ng-click="showObservation(o)">
                    <div class="list-item__detail list-item__noimage">
                        <nn-comment class="comment list-item__comment" limit="120" name="{{o.name}}" date="{{i.updated_at}}" avatar-url="{{$root.users[o.submitter].avatar}}"
                            comment="{{o.description}}">
                        </nn-comment>
                    </div>
                </div>
                <a href="#" ng-click="vm.showMoreSites()">Show More</a>
                <div ng-if="vm.sites.length === 0">No Sites found.</div>
            </div>

        </tr>
        <tr>
            <div>
                <div class="h3">Users</div>
                <div class="list-item list-item--square" style="cursor: pointer;" ng-if="vm.users.length > 0" ng-repeat="o in vm.users | filter:{ status:'!deleted' } | orderBy: '-updated_at' | limitTo: vm.userDisplayLimit"
                    ng-click="showObservation(o)">
                    <div ng-if="imageOnly!=='true'" class="list-item__detail">
                        <nn-badge class="nn-badge item__user" title="{{o.display_name}}" subtitle="{{formatDate(o.updated_at)}}" avatar-url="{{o.avatar}}">
                        </nn-badge>
                    </div>
                </div>
                <a href="#" ng-click="vm.showMoreUsers()">Show More</a>
                <div ng-if="vm.users.length === 0">No Users found.</div>
            </div>
        </tr>
    </table>
</div>


<div ng-click="vm.showDetail=false" ng-if="vm.selectedIdea && vm.showDetail" style=" z-index:1000; min-height:100vh; position:absolute; background-color: rgba(60, 100, 100, 0.95); height:100%;"
class="main main--projects">
<div ng-click="$event.stopPropagation()" ng-if="vm.selectedIdea && vm.showDetail">
    <nn-idea-modal editable="vm.selectedIdea.submitter === $root.currentUser || $root.userRank === 'admin'" idea="vm.selectedIdea"
        comments="vm.comments" show="vm.showDetail">
    </nn-idea-modal>
</div>
</div>

<div ng-click="vm.show=false" ng-show="vm.show" style="min-height:100vh; position:absolute; z-index:1000; background-color: rgba(60, 100, 100, 0.95); height:100%;"
class="main main--projects">
<div ng-click="$event.stopPropagation()">
    <nn-project-modal editable="$root.projects[vm.projectId].submitter === $root.currentUser" url="$root.projects[vm.projectId].icon_url"
        project="$root.projects[vm.projectId]" title="$root.projects[vm.projectId].name" description="$root.projects[vm.projectId].description"
        observations="vm.projectObservations" observation="vm.projectObservation" comments="vm.comments" limit="vm.displayLimit"
        show="vm.show" />
</div>
</div>